PCB/gerber*
Case/PCBBottom/gerb*
Case/PCBTop/gerb*

Sofle_RGB/PCB/gerb*
Case/Sofle_RGB/PCBTop/gerb*
Case/Sofle_RGB/PCBBottom/gerb*

Sofle_soldered/PCB/gerb*
Sofle_soldered/PCB/SofleKeyboard-backups
Case/Sofle_soldered/PCBTop/gerb*
Case/Sofle_soldered/PCBBottom/gerb*

# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

